// Load CSS Reset from NPM
@import "~normalize.css";

:root {
  background: white;
  --sol21-text-1: .4rem;
  --sol21-text-1-7: 1rem;
  --sol21-text-2: 1.5rem;
  --sol21-text-3: 2rem;
  --sol21-text-4: 2.5rem;
  --sol21-font-family: 'Roboto';
  --sol21-font-family-second: 'Roboto';
  --sol21-white: white;
  --sol21-black: black;
  --sol21-blue: #2caae4;
  --sol21-yellow: #FF9800;
  --sol21-deep-blue: #2e91e4;
}

.flex {
  display: flex;
}

.column-flex {
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-with-absolute-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.absolute {
  position: absolute;
}

.no-link {
  text-decoration: none;
}

.full-width {
  width: 100vw;
}

.imagen-size {
  width: 6rem;
}

.imagen-size-cover {
  width: 45rem;
  z-index: 1;
}

.custom-style {
  display: flex;
  justify-content: space-evenly;
  margin: 3rem;
  flex-flow: row nowrap;
  align-items: center;
}

.no-margin {
  margin: 0;
}

.absolute > p {
  margin: 0;
}

footer {
  height: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: var(--sol21-yellow);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-color {
  background: white;
}

.background-gradient {
  background: linear-gradient(
                  white 20%,
                  white);
}

.background-gradient-inverse {
  background: linear-gradient(
                  white 20%,
                  white);
}

.middle {
  height: 30vh;
}

.text-center {
  text-align: center;
}

.font-size-1-7 {
  font-size: var(--sol21-text-1-7);
}

.font-size-2 {
  font-size: var(--sol21-text-2);
}

.font-size-3 {
  font-size: var(--sol21-text-3);
}

.font-size-4 {
  font-size: var(--sol21-text-4);
}

.title {
  font-family: var(--sol21-font-family);
}

.text {
  font-family: var(--sol21-font-family-second);
}

.margin-corners {
  margin-left: 1rem;
  margin-right: 1rem;
}

.primary {
  color: var(--sol21-black);
}

.secondary {
  color: var(--sol21-white);
}

header {
  background: var(--sol21-yellow);
  height: 4rem;
  width: 100vw;
  z-index: 1;
}

.live{
  overflow:hidden;
  > li{
    list-style:none;
    position:relative;
    padding:0 0 0 2em;
    margin:0 0 .5em 10px;
    transition:.12s;

    &::before{
      position:absolute;
      content:'\2022';
      font-family: Arial;
      color:black;
      top:0;
      left:0;
      text-align:center;
      font-size:2em;
      opacity:.5;
      line-height:.75;
      transition:.5s;
    }

    &:hover{
      color: black;
      &::before{
        transform:scale(2);
        opacity:1;
        text-shadow:0 0 4px;
        transition:.1s;
      }
    }
  }

  &.type2{
    > li{
      &::before{
        content:'';
        width:10px; height:10px;
        background:black;
        border-radius:3px;
        line-height:0;
        top:.27em; left:5px;
      }
      &:hover::before{
        transform:none;
        border-radius:5px;
        width:25px;
        left:-10px;
        background:#BA5353;
      }
    }
  }
}

section {
  z-index: 1;
}

.flex-justify-space {
  justify-content: space-around;
  width: 100vw;
}

@media (max-width: 640px) {
  .flex {
    flex-direction: column;
  }
  .font-size-1-7 {
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
  }

  .font-size-2 {
    font-size: calc(22px + 6 * ((100vw - 320px) / 680));
  }

  .font-size-3 {
    font-size: calc(30px + 6 * ((100vw - 320px) / 680));
    text-align: center;
  }

  .margin-corners {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}

@media (max-width: 640px) and (orientation: landscape){
  .middle {
    height: 60vh;
  }
}
